<section class="people" id="people">
  <div class="wrap">

  {%- assign groups = "leadership,steering" | split: "," -%}
  {%- for key in groups -%}
    {%- assign g = site.data.people[key] -%}
    <p class="subhead">{{ g.label }}</p>
    {%- if g.note %}
    <p class="subnote">{{ g.note }}</p>
    {%- endif %}
    <div class="teamgrid">
      {%- for p in g.members %}
      {% include person.html p=p %}
      {%- endfor %}
    </div>
  {%- endfor %}

    <p class="subhead">Research and Administration</p>
    <p class="staffbandlabel">{{ site.data.people.core_staff.label }}</p>
    <div class="teamgrid">
      {%- for p in site.data.people.core_staff.members %}
      {% include person.html p=p %}
      {%- endfor %}
    </div>
    <p class="corestaff">Draft job advertisements are posted here: <a href="{{ '/assets/docs/pact-lab-job-advertisements.docx' | relative_url }}">Senior Research Fellow (Programme Lead) and PACT Lab Associate</a>.</p>
    <p class="staffbandlabel">{{ site.data.people.affiliated_staff.label }}</p>
    <div class="teamgrid">
      {%- for p in site.data.people.affiliated_staff.members %}
      {% include person.html p=p %}
      {%- endfor %}
    </div>

  {%- assign groups2 = "collaborators,advisors" | split: "," -%}
  {%- for key in groups2 -%}
    {%- assign g = site.data.people[key] -%}
    <p class="subhead">{{ g.label }}</p>
    {%- if g.note %}
    <p class="subnote">{{ g.note }}</p>
    {%- endif %}
    <div class="teamgrid">
      {%- for p in g.members %}
      {% include person.html p=p %}
      {%- endfor %}
    </div>
  {%- endfor %}

  </div>
</section>
