<section class="people" id="people">
  <div class="wrap">

  {%- assign g = site.data.people.leadership -%}
    <p class="subhead">{{ g.label }}</p>
    {%- if g.note %}
    <p class="subnote">{{ g.note }}</p>
    {%- endif %}
    <div class="teamgrid">
      {%- for p in g.members %}
      {% include person.html p=p %}
      {%- endfor %}
    </div>

    <p class="subhead">Research and Administration</p>
    <p class="staffbandlabel">{{ site.data.people.affiliated_staff.label }}</p>
    <div class="teamgrid">
      {%- for p in site.data.people.affiliated_staff.members %}
      {% include person.html p=p %}
      {%- endfor %}
    </div>

    <p class="subnote">A Steering Committee and a Patient and Public Leadership Network are being formed. Members will be listed here once appointments are confirmed.</p>

  </div>
</section>
