<nav>
  <div class="wrap">
    <a class="brand" href="{{ '/' | relative_url }}">PACT<span>&nbsp;Lab</span></a>
    <ul class="navlinks">
      <li><a href="{{ '/' | relative_url }}#services">What we do</a></li>
      <li><a href="{{ '/' | relative_url }}#method">Our method</a></li>
      <li><a href="{{ '/' | relative_url }}#model">How it works</a></li>
      <li><a href="{{ '/' | relative_url }}#governance">Governance</a></li>
      <li><a href="{{ '/publications/' | relative_url }}"{% if page.nav == 'publications' %} class="current"{% endif %}>Publications</a></li>
      <li><a href="{{ '/events/' | relative_url }}"{% if page.nav == 'events' %} class="current"{% endif %}>Events</a></li>
      <li><a href="{{ '/resources/' | relative_url }}"{% if page.nav == 'resources' %} class="current"{% endif %}>Resources</a></li>
      <li><a href="{{ '/' | relative_url }}#people">People</a></li>
      <li><a href="{{ '/' | relative_url }}#contact">Contact</a></li>
    </ul>
  </div>
</nav>
